/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #101728;
    /* Fundo padrão para evitar espaço vazio */
}


/* HEADER */

/* Header fixo no topo */
.topo {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    /* Fixo no topo */
    top: 0;
    left: 20px;
}

#logo, #haze {
    cursor: pointer;
    transition: 0.3s;
}

#logo:hover, #haze:hover {
    transform: scale(1.2);
}

#logo {
    width: 100px;
    object-fit: contain;
}

#haze {
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
}

.button {
    background: linear-gradient(90deg, #c12cd8 0%, #f0563d 100%);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
}
